[client]
default_character_set = utf8mb4
socket = ${home_path}/data/mysql/mysql.sock

[mysql]
default_character_set = utf8mb4
socket = ${home_path}/data/mysql/mysql.sock

[mysqld_safe]
log_error = ${home_path}/logs/mysql/mysql.error
pid_file = ${home_path}/data/mysql/mysqld.pid

[mysqld]
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
user = mysql
port = 3306
basedir = ${home_path}/mysql-5.7.20-linux-glibc2.12-x86_64
datadir = ${home_path}/data/mysql
socket = ${home_path}/data/mysql/mysql.sock
tmpdir = ${home_path}/logs/mysql
slow_query_log_file = ${home_path}/logs/mysql/slow.log
slow_query_log = true
long_query_time = 2
max_connections = 8000
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
explicit_defaults_for_timestamp = true
lower_case_table_names = 1
skip_name_resolve
max_allowed_packet = 20M
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 2
innodb_flush_log_at_trx_commit = 2
sync_binlog = 1000

server_id = ${server_id}
log_slave_updates = true
relay_log = relay-log.log
log_bin = mysql-bin.log
expire_logs_days = 2
max_binlog_size = 256M
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery = ON
sync_master_info = 1
slave_parallel_workers = ${slave_parallel_workers}
binlog_checksum = CRC32
master_verify_checksum = 1
slave_sql_verify_checksum = 1
binlog_rows_query_log_events = 1
slave_parallel_type = logical_clock
auto_increment_offset = ${auto_increment_offset}
auto_increment_increment = 2
slave_skip_errors = 1032
