<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- session管理 -->
	<bean id="SessionSyncActionBean" class="cn.com.agree.aweb.struts2.action.SessionSyncAction"
		scope="prototype">
	</bean>

	<!-- 登录管理 -->
	<bean id="loginService" class="cn.com.agree.aweb.service.aweb.impl.LoginServiceImpl">
	</bean>

</beans>