<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="communication" class="cn.com.agree.aweb.sdk.CommunitionBySdk"
		destroy-method="destroy">
		<property name="agentType" value="${agent.type}" />
		<property name="agentName" value="${agent.name}" />
		<property name="defaultTo" value="${agent.to}" />
		<property name="ioThreads" value="${agent.ioThreads}" />
		<property name="timeoutMills" value="${agent.timeoutMills}" />
		<property name="urls" value="${agent.urls}" />
		<property name="registerMc" value="${agent.registerMc}" />
		<property name="registerTc" value="${agent.registerTc}" />
		<property name="unregisterMc" value="${agent.unRegisterMc}" />
		<property name="unregisterTc" value="${agent.unRegisterTc}" />
	</bean>

	<bean id="remoteService" class="cn.com.agree.aweb.service.impl.RemoteServiceImpl">
		<property name="communication" ref="communication" />
	</bean>
	<bean id="dbService" class="cn.com.agree.aweb.service.impl.DbServiceImpl">
		<property name="remoteService" ref="remoteService"></property>
	</bean>
	<bean id="aimServer" class="cn.com.agree.aweb.struts2.action.support.AimServerAfaSdk">
		<property name="communication" ref="communication"></property>
	</bean>
</beans>