<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="internalEventService" class="cn.com.agree.aweb.service.CamaServiceFactory">
		<constructor-arg type="java.lang.String" value="event" />
		<property name="remoteService" ref="remoteService" />
		<property name="defaultMc" value="${cama.service.mc}" />
		<property name="defaultTc" value="${cama.service.tc}" />
	</bean>

	<bean id="eventCounter" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.alert.IEventCounter" />
	</bean>

	<bean id="healthDegreeService" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.alert.IHealthDegreeService" />
	</bean>

	<bean id="metricQueryService" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.metric.IMetricQueryService" />
	</bean>
	<bean id="metricHistoryQueryService" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.metric.IMetricHistoryQueryService" />
	</bean>
	<bean id="eventService" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.alert.IEventService" />
	</bean>

	<!-- 主触发器 -->
	<bean id="triggerService" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.trigger.IAimConfigTrigger" />
	</bean>
	<!-- 关联触发器 -->
	<bean id="aimConfigTriggerSub" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.trigger.IAimConfigTriggerSub" />
	</bean>
	<!-- 采集参数配置 -->
	<bean id="aimConfigSample" factory-bean="internalEventService" factory-method="getCamaService">
		<constructor-arg type="java.lang.Class" value="tc.bank.cama.core.service.trigger.IAimConfigSample" />
	</bean>

</beans>