<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="internalCmdbService" class="cn.com.agree.aweb.service.CamaServiceFactory">
		<constructor-arg type="java.lang.String" value="cmdb" />
		<property name="remoteService" ref="remoteService" />
		<property name="defaultMc" value="${cama.service.mc}" />
		<property name="defaultTc" value="${cama.service.tc}" />
	</bean>

	<bean id="internalAppGroupQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.AppGroupQuery" />
	</bean>
	<bean id="internalAppQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.AppQuery" />
	</bean>
	<bean id="internalCategoryQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.CategoryQuery" />
	</bean>
	<bean id="internalLogicalServerQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.LogicalServerQuery" />
	</bean>
	<bean id="internalObjectQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.ObjectQuery" />
	</bean>
	<bean id="internalPhysicalServerQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.PhysicalServerQuery" />
	</bean>
	<bean id="internalSoftwareQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.SoftwareQuery" />
	</bean>
	<bean id="internalIPQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.IPQuery" />
	</bean>
	<bean id="internalNetworkFlowModifier" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.NetworkFlowModifier" />
	</bean>
	<bean id="internalNetworkFlowQuery" factory-bean="internalCmdbService"
		factory-method="getCamaService">
		<constructor-arg type="java.lang.Class"
			value="tc.bank.cama.cmdb.service.NetworkFlowQuery" />
	</bean>

	<bean id="cmdbServiceFactory" class="cn.com.agree.aweb.service.impl.CmdbServiceFactoryImpl">
		<property name="services">
			<map key-type="java.lang.String" value-type="java.lang.Object">
				<entry key="tc.bank.cama.cmdb.service.AppGroupQuery">
					<ref bean="internalAppGroupQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.AppQuery">
					<ref bean="internalAppQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.CategoryQuery">
					<ref bean="internalCategoryQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.LogicalServerQuery">
					<ref bean="internalLogicalServerQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.ObjectQuery">
					<ref bean="internalObjectQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.PhysicalServerQuery">
					<ref bean="internalPhysicalServerQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.SoftwareQuery">
					<ref bean="internalSoftwareQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.IPQuery">
					<ref bean="internalIPQuery" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.NetworkFlowModifier">
					<ref bean="internalNetworkFlowModifier" />
				</entry>
				<entry key="tc.bank.cama.cmdb.service.NetworkFlowQuery">
					<ref bean="internalNetworkFlowQuery" />
				</entry>
			</map>
		</property>
	</bean>


</beans>