@CHARSET "UTF-8";
/* 卡片头部CSS start */
.divTitle{
	background: #FAFAFA;
    border-bottom: 1px solid #E5E5E5;
    height: 44px;
    font-size: 14px;
    padding: 0 20px;
    line-height: 44px;
    color: #333;
    border-radius:4px 4px 0 0;
    box-sizing: border-box;
}
/* 卡片头部CSS end */