.kpi-change-btn{
	display: inline-block;
    margin: 0;
    padding: 0 6px;
    border: 1px solid #ccc;
    border-color: transparent;
    line-height: 20px;
    -webkit-appearance: button;
    font-weight: 400;
    outline: 0;
    vertical-align: middle;
	text-align: center;
	background-repeat: repeat-x;
    font-size: 10.5px;
    cursor: pointer;
	background-image: none;
	border-radius: 2px;
	text-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	background: transparent;
    color: gray;
}
.kpi-change-btn.blue{
	background: #13B1F5;
	color:white;
}
.kpi-change-btn-grp{
	float: right;
	right: 0px;
	z-index:490;
	text-align: right;
	position: relative;
}