/**
 * 日志分析平台定制化样式
 */
@charset "UTF-8";
:root {
	/*--color-theme: #5b62f9;*/
	 --color-theme: #55a8fd; 
	/*--color-theme: #5B62F9;*/
	--color-gray: #F1F0F5;
	--color-success: #22ac38;
	--color-split: #0070c0;
	--color-error: red;
	--color_非主题: #F1F0F5;
	--color_主题: #5B62F9;
}
.banner {
	width: auto;
	left: 50px;
	right: 0;
	z-index: 503;
	height: 50px;
}
.banner.lock{
	left:180px;
}
body.body-autoHeight {
	transition: all linear .3s;
	margin-left: 50px;
	min-width: 1230px; /*限制最小分辨率 1230+50(菜单的宽度)*/
}
body.lock-Menu {
	margin-left: 180px;
}
.tabs-container {
	left: 0;
	width: auto;
    box-shadow: none;
}
.aside-left:hover,body.lock-Menu .aside-left {
	width: 180px;
}
.aside-left {
	width: 50px;
	/*width: 180px;*/
	margin: 0;
	top: 0;
	background-color: #1f2e54;
	transition: all linear .2s;
	overflow: hidden;
	z-index: 504;
}
.banner > .navbar-inner {
	height: 50px !important;
	box-sizing: border-box;
	border: none;
}
.content-container {
	margin-top: 0px;
	height: 100% !important;
}
ul.menu-firstLevel {
	/* height: -webkit-fill-available; */
	width: 180px;
	background-color: #1f2e54;
	top: 20px;
	overflow-y: auto;
	height: calc(100% - 200px);
}
.lock-width {
	position: absolute;
    bottom: 10px;
    color: #fff;
    width: 180px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.lock-width>*{
	padding: 0 20px;
}
.bank-logo-content {
	display: flex;
	height: 100px;
}
.bank-logo-content div {
	margin: auto;
	/*background: #5694f5 url(../img/logo.svg) no-repeat center;
	background-size: 50px 50px;*/
	/*background: url(../img/bank/logo_simple.png) no-repeat center; */
	background-size: 50%;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}
.aside-left:hover .bank-logo-content div,body.lock-Menu .bank-logo-content div {
	/*background: url(../img/bank/logo_dgns.png) no-repeat center;*/
	background-size: 80%;
	/*background: url(../img/agree_logo.svg) no-repeat center;
	 background-size: 180px 50px;*/ 
}
.index-add-flow-btn:hover {
	background-color: #0070c0;
}
.index-add-flow-btn i {
	color: #fff;
}
.index-add-flow-btn {
	width: 35px;
	height: 32px;
	background-color: #55a8fd;
	color: #fff;
	display: block;
	font-size: 14px;
	margin: 0 auto;
	border: none;
	white-space: nowrap;
	color: #55a8fd;
	overflow: hidden;
	padding-left: 13px;
}
.aside-left:hover .index-add-flow-btn,body.lock-Menu .aside-left .index-add-flow-btn {
	width: 140px;
	color: #fff;
	padding: 0;
}
ul.menu-firstLevel>li {
	background-color: transparent;
	height: auto;
	min-height: 40px;
}
.aside-left:hover ul.menu-firstLevel>li>span, body.lock-Menu .aside-left ul.menu-firstLevel>li>span{
	opacity: 1;
}
ul.menu-firstLevel>li>span {
	color: #96a8d6;
	background-color: transparent;
	padding-left: 54px;
	opacity: 0;
	transition: all 0.3s;
}
ul.menu-firstLevel>li.active,
ul.menu-firstLevel>li:hover {
	background-color: #121f3e;
}
.aside-left:hover ul.menu-firstLevel>li>a.menu {
	/*margin-left: 16px;*/
}
ul.menu-firstLevel>li>a.menu {
	margin-left: 5px;
	/*transition: all 0.3s;*/
}
ul.menu-secondLevel {
	left: 0;
	position: static;
	height: 0;
	overflow: hidden;
	background-color: #121f3e;
}
ul.menu-secondLevel.show {
    transform: none;
    background-color: #121f3e;
    height: auto;
}
ul.menu-secondLevel>li>a {
	background: none;
	padding-left: 48px;
	color: #fff;
}
ul.menu-secondLevel>li>a:HOVER {
	background-color: #55a8fd;
	color: #fff;
}
ul.menu-thirdLevel>li>a:hover{
	background-color: #55a8fd;
}
body.full {
	top: 0px;
}
body.aside-left-out {
	margin-left: auto;
	left: 0;
	width: auto;
}
.aweb-alert-msg {
	right: 0;
	left: 50px;
	width: auto;
}
.aweb-alert-msg.aweb-width-full {
	top: 0;
	left: 0;
}
.aweb-alert-msg.aweb-width-full .content-warning {
	height: 100% !important;
}
.lock-Menu .aweb-alert-msg{
	left: 180px;
}
.tabs-container {
	height: 42px;
	box-sizing: border-box;
	background-color: #f5f9fc;
	border-top: 1px solid #ecf0f4;
	border-bottom: 1px solid #ecf0f4;
}
.tabs-container .nav.nav-tabs.tabs li:hover>a {
	color: #387bd3;
}
.tabs-container .nav.nav-tabs.tabs li {
	color: #7d82a0;
	background-color: transparent;
    padding: 0 20px;
}
.tabs-container .nav.nav-tabs.tabs li.active:hover>a {
	color: #387bd3;
}
.tabs-container .nav.nav-tabs.tabs li.active {
	color: #4494fc;
}
.tabs-container>.nav.nav-tabs.tabs>li>button.close {
    background-color: #4494fc;
    border-radius: 2px;
    width: 12px;
    height: 12px;
    margin-top: 14px;
    right: 8px;
    background-size: 12px 12px;
}
.tabs-container>.nav.nav-tabs.tabs>li>button.close:before{
	content: '';
	display: block;
	width: 12px;
	height: 40px;
	margin-top: -14px;
}

.tabs-left-group,.tabs-right-group,.tabs-right-group>#tabsFull {
	background-color: #f5f8fa;
}
.body-autoHeight.aside-left-out .tabs-container {
	width: auto !important; 
}
.main {
	padding: 0;
	top: 0;
	height: calc(100% - 40px);
}
.main>div {
	padding: 0;
	width: calc(100vw - 50px);
}
.lock-Menu .main>div {
	padding: 0;
	width: calc(100vw - 180px);
}
.body-autoHeight.full.aside-left-out .main>div{
	width: 100vw !important;
}
.banner .userInfo {
	margin-left: 20px;
	height: 60px;
	display: flex;
	align-items: center;
	color: #36404d;
	font-size: 12px;
}
.banner .userInfo img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin-right: 10px;
}
.button:hover {
	background-color: #387bd3;
}
.button {
	background-color: #4d9cea;
	color: #fff;
	border: none;
	border-radius: 2px;
}
/*颜色设置*/
.nav.nav-tabs.nav-underLine>li.active>a,
.nav.nav-tabs.nav-underLine>li.active>a:HOVER{
	border-bottom-color: var(--color-theme);
}
.nav.nav-tabs.nav-underLine>li.active>a:after{
	border-bottom-color: var(--color-theme);
}
.nav.nav-tabs.nav-public>li.active>a{
	color: var(--color-theme);
}
.tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:focus, .tabs-left>.nav-tabs .active>a:hover{
	border-left: 3px solid var(--color-theme);
    color: var(--color-theme);
}
button.confirmBtn{
	background: #fff;
    border-color: var(--color-theme);
    color: var(--color-theme);
}
button.confirmBtn:HOVER {
	background: var(--color-theme);
	color: #FFFFFF;
	border-color: var(--color-theme);
}
.boolean-switch.true{
	background: var(--color-theme);
}
.uneditable-input:focus, input[type=text]:focus, input[type=password]:focus,
	input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus,
	input[type=month]:focus, input[type=time]:focus, input[type=week]:focus,
	input[type=number]:focus, input[type=email]:focus, input[type=url]:focus,
	input[type=tel]:focus, input[type=color]:focus, input[type=search]:focus,
	textarea:focus {
		border-color: var(--color-theme);
	}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
	color: var(--color-theme) !important;
	border: 1px solid var(--color-theme);
	background-color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover  {
	color: var(--color-theme) !important;
	border: 1px solid var(--color-theme);
	background-color: #fff;
}

.ztree li a.curSelectedNode{
	color: var(--color-theme);
}
.modal-btn.blue{
	background: var(--color-theme) !important;
}
