.modal-header h3 {
	margin: 0;
	line-height: 30px;
	font-size: 18px;
}
.modal-btn{
	height: 30px;
    width: 72px;
    font-size: 14px;
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    border: 1px solid #ccc;
    border-color: transparent;
    line-height: 20px;
    -webkit-appearance: button;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    background-repeat: repeat-x;
    cursor: pointer;
    background-image: none;
    border-radius: 2px;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: transparent;
}
.modal-btn.blue{
	background: #13B1F5;
	color:#fff;	
}
.modal-btn.blue:hover{
	background: #35C2FF;
	color:#fff;	
}
.modal-btn.gray{
	background: #eee;
	color:#666;	
}
.modal-btn.gray:hover{
	background: #eee;
}
.modal-btn.green{
    background: #0CBF47;
    color:#fff;	
}
.modal-btn.green:hover{
    background: #16D856;
}
.modal-body .table thead th{
    font-size: 12px;
    font-weight: normal;
}
.modal-body .table-bordered{
    border-radius: 0;
}
.modal-body .table-bordered thead{
	color:#666;
    background: #eee;
    border: 1px solid #e5e5e5;
}
.modal-body .table-bordered th{
	border-left: 1px solid #e5e5e5;
}
.modal-btn.blue{
	background: #5B62F9;
}
.modal-btn.blue:hover{
	background: #6E75F9;
	border-color: transparent;
}