<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>amlog</display-name>
	<description>web3.0基础项目</description>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<filter>
		<filter-name>initialize</filter-name>
		<filter-class>cn.com.agree.aweb.filter.InitializeFilter</filter-class>
		<init-param>
			<param-name>registry</param-name>
			<param-value>registry.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>initialize</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--<filter>-->
		<!--<filter-name>charset</filter-name>-->
		<!--<filter-class>cn.com.agree.aweb.filter.CharsetFilter</filter-class>-->
		<!--<init-param>-->
			<!--<param-name>exIncludeUrl</param-name>-->
			<!--<param-value>/ToolsetAction</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>encoding</param-name>-->
			<!--<param-value>UTF-8</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>escape-key</param-name>-->
			<!--<param-value>&amp;||&lt;||></param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>escape-val</param-name>-->
			<!--<param-value>&amp;amp;||&amp;lt;||&amp;gt;</param-value>-->
		<!--</init-param>-->
	<!--</filter>-->
	<!--<filter-mapping>-->
		<!--<filter-name>charset</filter-name>-->
		<!--<url-pattern>*.do</url-pattern>-->
	<!--</filter-mapping>-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<context-param>
		<description>spring的配置文件</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml,/WEB-INF/classes/spring/*.xml</param-value>
	</context-param>
	<context-param>
		<description>web项目的绝对路径</description>
		<param-name>webAppRootKey</param-name>
		<param-value>amlog.aweb.root</param-value>
	</context-param>
	<listener>
		<description>spring的日志加载器</description>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<description>Session监听</description>
		<listener-class>cn.com.agree.aweb.session.AWebSessionListener</listener-class>
	</listener>
	<listener>
		<description>spring request监听器</description>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<error-page>
		<error-code>500</error-code>
		<location>/errorDispatcher_500.jsp</location>
	</error-page>
	<distributable />
</web-app>